<header>
  <div class="container">
    <a class="logo" href=""><img src="assets/images/logo-white.png" alt="Logo"></a>

    <div class="right-area">
      <h6><a class="plr-20 color-white btn-fill-primary" href="#">ORDER: +34 685 778 8892</a></h6>
    </div><!-- right-area -->

    <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

    <ul class="main-menu font-mountainsre" id="main-menu">
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="/about">ABOUT US</a></li>
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/blog">NEWS</a></li>
      <li><a routerLink="/contact">CONTACT</a></li>
    </ul>

    <div class="clearfix"></div>
  </div>
</header>

<section class="bg-1 h-900x main-slider pos-relative">
  <div class="triangle-up pos-bottom"></div>
  <div class="container h-100">
    <div class="dplay-tbl">
      <div class="dplay-tbl-cell center-text color-white">

        <h5><b>BEST IN TOWN</b></h5>
        <h1 class="mt-30 mb-15">Pizza & Pasta</h1>
        <h5><a href="#" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h5>
      </div><!-- dplay-tbl-cell -->
    </div><!-- dplay-tbl -->
  </div><!-- container -->
</section>